<%- include partials/_header %>
<% if(error) { %>
  <p><%= error %></p>
<% } else { %>
<table class="table">
  <% if(loggedIn) { %>
  <tr>
    <td class="col-md-2">Date Created</td>
    <td class="col-md-4">Short URL</td>
    <td class="col-md-4">Long URL</td>
    <td class="col-md-2">Visits (Unique)</td>
    <td class="col-md-3">&nbsp;</td>
  </tr>
  <% user_urls.forEach((url, i) => { %>
    <tr>
      <td><%= url.date %></td>
      <td><a href="/u/<%= url.url_id %>">http://localhost/u/<%= url.url_id %></a></td>
      <td>
        <form class="form-inline" method="GET" id="update" action="/urls/<%= url.url_id %>">
          <label for="update"><%= url.url %></label>
          <button id="update" class="btn btn-default btn-xs" type="submit">
            Update
          </button>
        </form>
      </td>
      <td>
        <%= url.visits.visits %>
        <% if(url.visits.unique) { %>
          (<%= url.visits.unique %>)
        <% } else { %>
          (0)
        <% } %>
      </td>
      <td>
        <form class="form-inline" method="POST" id="delete" action="/urls/<%= url.url_id %>/delete?_method=DELETE">
          <button class="btn btn-danger btn-xs" id="delete" type="submit">&nbsp;x&nbsp;</button>
        </form>
      </td>
    </tr>
    <% }); %>
  <% } %>
</table>
<% } %>
<%- include partials/_footer %>
