<%- include partials/_header %>
<% if (Object.keys(errors).length !== 0) { %>
  <p><%= errors.message %></p>
<% } else { %>
<table class="table table-striped">
  <% if(loggedIn) { %>
    <tr>
      <td>&nbsp;</td>
      <td><h4>Short URL</h4></td>
      <td><h4>Long URL</h4></td>
      <td>&nbsp;</td>
    </tr>
    <% user_urls.forEach((key, i) => { %>
    <tr>
      <td><%= i + 1 %></td>
      <td><a href="/u/<%= key %>">http://localhost:8080/u/<%= key.url_id %></a></td>
      <td>
        <form class="form-inline" method="GET" id="update" action="/urls/<%= key.url_id %>">
          <label for="update"><%= key.url %></label>
          <button id="update" class="btn btn-default btn-xs" type="submit">
            Update
          </button>
        </form>
      </td>
      <td>
        <form class="form-inline" method="POST" id="delete" action="/urls/<%= key.url_id %>/delete">
          <button class="btn btn-default btn-xs" id="delete" type="submit">x</button>
        </form>
      </td>
    </tr>
    <% }); %>
  <% } %>
</table>
<% } %>
