<%- include partials/_header %>
<% if(error) { %>
  <p><%= error %></p>
<% } else { %>
<table class="table">
  <% if(loggedIn) { %>
    <tr>
      <td class="col-md-2">Date Created</td>
      <td class="col-md-4">Short URL</td>
      <td class="col-md-4">Long URL</td>
      <td class="col-md-2">Visits</td>
      <td class="col-md-3">&nbsp;</td>
    </tr>
    <% user_urls.forEach((key, i) => { %>
    <tr>
      <td><%= key.date %></td>
      <td><a href="/u/<%= key.urlID %>">http://localhost/u/<%= k.urlID %></a></td>
      <td>
        <form class="form-inline" method="GET" id="update" action="/urls/<%= key.url_id %>">
          <label for="update"><%= key.url %></label>
          <button id="update" class="btn btn-default btn-xs" type="submit">
            Update
          </button>
        </form>
      </td>
      <td>
        <%= key.visits.visits %>
        <% if(key.visits.unique) { %>
          (<%= key.visits.unique %>)
        <% } else { %>
          (0)
        <% } %>
      </td>
      <td>
        <form class="form-inline" method="POST" id="delete" action="/urls/<%= key.url_id %>/delete">
          <button class="btn btn-default btn-xs" id="delete" type="submit">x</button>
        </form>
      </td>
    </tr>
    <% }); %>
  <% } %>
</table>
<% } %>
