<%- include partials/_header %>
<table class="table table-striped">
  <tr>
    <td>&nbsp;</td>
    <td class="cleafix"><h4>Short URL</h4></td>
    <td><h4>Long URL</h4></td>
    <td>&nbsp;</td>
  </tr>
  <% Object.keys(urls).forEach((key, i) => { %>
  <tr>
    <td><%= i + 1 %></td>
    <td>
      <form class="form-inline" method="GET" id="update" action="/urls/<%= key %>">
        <label for="update"><%= urls[key]['longURL'] %></label>
        <button id="update" class="btn btn-default btn-xs" type="submit">
          Update
        </button>
      </form>
    </td>
    <td>
      <form class="form-inline" method="POST" id="delete" action="/urls/<%= key %>/delete">
        <button class="btn btn-default btn-xs" id="delete" type="submit">x</button>
      </form>
    </td>
  </tr>
  <% }); %>
</table>
