<%- include partials/_header %>
  <% if(error) { %>
    <p><%= error %></p>
  <% } else { %>
  <table class="table">
    <tr>
      <td class="col-md-2">Date Created</td>
      <td class="col-md-4">Short URL</td>
      <td class="col-md-4">Long URL</td>
      <td class="col-md-2">Visits (Unique)</td>
      <td class="col-md-3">&nbsp;</td>
    </tr>
    <tr>
      <td><%= urls[url].date %></td>
      <td><a href="/u/<%= url %>">http://localhost/u/<%= url %></a></td>
      <td>
        <form class="form-inline" method="POST" id="edit" action="/urls/<%= url %>">
          <input id="edit" name="updatedURL" value="<%= urls[url].longURL %>" class="input input-group"></input>
          <button id="edit" class="btn btn-default btn-xs" type="submit">
            Update
          </button>
        </form>
      </td>
      <td>
        <%= urls[templateVars.error = false].visits.visits %>
        <% if(urls[url].visits.unique) { %>
          (<%= urls[url].visits.unique %>)
        <% } else { %>
          (0)
        <% } %>
      </td>
      <td>
        <form class="form-inline" method="POST" id="delete" action="/urls/<%= url %>/delete">
          <button class="btn btn-default btn-xs" id="delete" type="submit">x</button>
        </form>
      </td>
    </tr>
  </table>
  <% } %>